<script id="tmpl-MainView" type="text/html">
  <div class="MainView container">
    <div class="container">
	    <div class="MainView-group">
	    
	    </div>
	    
	    <div class="MainView-contact">
	    
	    </div>
    </div>
    
  </div>
</script>  